<% @page_title = t('views.sessions.login.page_title') %>
<!-- t('views.static.donors.title') -->

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.sessions.login.page_title') %></h1>
          <p>The benefits of logging in depend on your affiliation with the University of Michigan.</p>
          <ul>
            <li>For <b>U-M Faculty, Bentley Historical Library Staff</b> and <b>Michigan Daily Staff</b>: Highest quality image downloads</li>
            <li>For <b>U-M Students, Staff</b> and <b>Alumni</b>, as well as Researchers registered with the Bentley: Higher quality image downloads</li>
            <li>For <b>U-M Sponsored Affiliates</b> and <b>Friend accounts</b>: No additional features</li>
          </ul>
          <br />
          <p style="margin-left: 23px; color: blue;"><%= link_to t('views.sessions.login.login_text'), {:controller => "sessions", :action => "new"} %></p>
          <p style="margin-left: 23px; color: blue;"><%= link_to t('views.sessions.login.no_login_text'), {:controller => "sessions", :action => "go_back"} %></p>

      </div> 
  </div>
</div>
