<% @page_title = t('views.micitizen-static.about-micitizen.title') %>

<div class="container-fluid">

  <div class="row">
    <div class="<%= main_content_classes(true) %> help-middle-col">
        <h1 class="title"><%= t('views.micitizen-static.about-micitizen.header') %></h1>  
    </div>
  </div>

  <div class="row">
    <%= render partial: 'about_sidebar' %>
      <div class="<%= main_content_classes %> help-middle-col">
<p>
The Michigan Citizen newspaper, originally called the Citizen, was founded in Benton Harbor, Michigan in 1978 by Charles and Teresa Maxwell-Kelly. It was a weekly publication, distributed on Sundays from November 1978 until December 2014. Since its beginning, the paper maintained a strong pro-community, progressive editorial stance, and was directed toward Michigan's African American and progressive-minded community. The Kelly's experiences as community organizers provided the newspaper's editorial focus. Founded on the belief that people made good decisions if armed with good information, the paper attempted to provide voice to the views of ordinary citizens in a city where African Americans were the majority. From its beginning, the paper was often considered by some to be controversial, insisting on holding elected officials accountable for their actions and providing sole coverage of grassroots groups and movements.
</p>
<p>
The Michigan Citizen began as a 12-page tabloid with an original circulation of 3,000 papers distributed in the Benton Harbor area. It eventually became a 16-page broadsheet newspaper with a statewide circulation of 56,000 copies. The Citizen expanded in 1980 when a group of ministers in Muskegon asked the paper to serve their residents. An office was opened in Muskegon Heights, but closed two years later. A distributor continued to circulate the paper there until 2008. The Citizen opened a Detroit-area office in the City of Highland Park in 1985 in order to serve Metro-Detroit while maintaining the Benton Harbor office. Although in its seventh year of continuous weekly publication at that point, the Citizen became the Michigan Citizen in 1985 in order to settle a costly lawsuit filed by the Hamtramck Citizen.
</p>
<p>
The Michigan Citizen became the official publication of the City of Highland Park and was the successful bidder for years publishing the Wayne County tax foreclosure list. The paper was also distributed at over 2 dozen locations in Detroit, including shops, bookstores, and restaurants. Catherine Kelly became the publisher of the Michigan Citizen upon the death of her father, Charles Kelly, in 2006. The Michigan Citizen published its last weekly edition on December 28, 2014, and thereafter ceased publication.
</p>
      </div> 
   </div>

</div>