// @import "globals";
#header-navbar {
  background-color: $header-bgcolor; // #00274C;
  padding: 10px;
  .navbar-brand {
    font-size: 24px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}