# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 60f0b6b7f82fb80ba61d37bb0752980bd2e586bc945e25cc8e9ff414ecb3e498c184f9ee0266d225788dd97c80b44329070117031b50b6ff2ee08bfbd1c1f7d8

test:
  secret_key_base: f47e360f66bc1fdc90260d6cd876fda551181f319f12bd33fa0843d991e243a64d0359bd493ef8ac246ca1bc33bde78b43fb92cc3b6a653a0b092fd23a4cde80

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
