<footer class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav">
            <a class="nav-link footer-link-help" href="/<%= "#{@publication['slug']}" %>/how_to_search">Help</a>
            <%= link_to "Home", { :publication => "#{@publication['slug']}", :controller => "catalog", :action => "home" }, class: 'nav-link' %>
        </ul>
    </div>
</footer>
<div class="container-fluid">
    <div class="col-md-12">
        <p>
            <span>&copy; <%= Date.today.year %> <a href="http://www.regents.umich.edu">Regents of the University of Michigan</a></span>
        </p>
    </div>
</div>
