      <div class="panel panel-actions-rights">
        <div class="panel-heading">
          <h3>Rights / Permissions</h3>
        </div>
        <div class="panel-body">
          <p>This collection, digitized in collaboration with the Michigan Daily and the Board for Student Publications, contains materials that are protected by copyright law. Access to these materials is provided for non-profit educational and research purposes. If you use an item from this collection, it is your responsibility to consider the work's copyright status and obtain any required permission.
            <button class="btn btn-link btn-sm" id="action-rights-read-more">(More details...)</button>
          </p>
          <p class="see-more" role="alert">To obtain permission to use the Michigan Daily's copyrighted material, please contact <a target="_blank" href="https://www.michigandaily.com/about">the Michigan Daily (https://www.michigandaily.com/about)</a>.
          </p>
          <p class="see-more" role="alert">
            If you have non-permissions questions about the collection, please use the <a href="<%= contact_link %>&type=3" referrerpolicy="unsafe-url">contact form</a>. If you have concerns about the inclusion of an item in this collection, please contact <a href="mailto:LibraryIT-info@umich.edu">LibraryIT-info@umich.edu</a>.
          </p>
          <p class="see-more">
            <button class="btn btn-link btn-sm" id="action-rights-read-less">(Fewer details)</button>
          </p>
        </div>
      </div>
