<footer>
  <ul>
    <li><%= link_to 'About', static_path('about') %></li>
    <li><%= link_to 'Help', static_path('about') %></li>
    <li><%= link_to 'Contact Us', static_path('contact') %></li>
    <li><%= link_to 'How to Search', static_path('how_to_search') %></li>
  </ul>
  <span class="copyright">Copyright University of Michigan</span>
</footer>