<h1 class="sr-only">Help Pages</h1>
<div id="help_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2>Help</h2>
    <ul class="help-ul">
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'how_to_search', label: "How to Search" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'using_image_viewer', label: "Using the Image Viewer" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: '/contacts', label: "Contact Us" } %>
    </ul>
  </div>
</div>