<% @page_title = t('views.static.about.title') %>

<div class="container-fluid">
    <%= render partial: 'unified_sidebar' %>

  <div class="<%= main_content_classes %> help-middle-col">
    <h2 classs="title"><%= t('views.static.about-archives.title') %></h2> 
        
    <p>Duis feugiat porta pulvinar. Cras mollis urna non dapibus aliquet. Phasellus non metus ut enim commodo molestie. Nullam turpis ex, ornare in risus ut, cursus venenatis purus. Nullam sagittis sapien in tortor consectetur auctor. Integer in sem et quam eleifend laoreet. Nulla dignissim malesuada magna. Curabitur pulvinar maximus ex sit amet dictum. Vivamus vel varius urna. Integer porta non arcu id lobortis.</p>

    <p>Vestibulum pretium convallis purus, non convallis massa condimentum condimentum. Duis nec erat at velit viverra consequat. Quisque ante sapien, vulputate sed semper vulputate, efficitur vestibulum eros. Etiam pellentesque odio interdum, blandit tortor id, egestas purus. Phasellus vitae facilisis arcu. Integer non magna arcu.</p>
       
    <h3 classs="subtitle"><%= t('views.static.about.donors.header') %></h2>
    
    <p>Aliquam sed finibus erat. Vestibulum efficitur pharetra urna, ut sollicitudin dui interdum sit amet. Etiam consectetur feugiat scelerisque. Proin eu maximus risus. Curabitur auctor diam eu bibendum ultricies. Pellentesque laoreet lorem id tortor malesuada, in pretium augue elementum. Duis interdum tortor maximus dui efficitur euismod.</p>
    </div> 
</div>

