<% @page_title = t('views.static.donors.title') %>

<div class="container-fluid">
    <%= render partial: 'unified_sidebar' %>

  <div class="<%= main_content_classes %> help-middle-col">
    <h2 class="title"><%= t('views.static.donors.title') %></h2>

    <p class="kemp">The Kemp Family Foundation was established by John B. Kemp ( ’60, J.D. ’63), founder and chief executive officer of Lease Corporation of America in Troy, Michigan.  The Foundation is the philanthropic arm of a family with deep roots in the history of the University of Michigan. Four generations of family members have received their education here beginning with Berton John Kemp (’30), whose family immigrated to Grand Rapids at the turn of the 20th century.</p>
    <h3 class="subtitle">Other alumni members of the family include:</h3>
    <ul class="no-style-ul">
      <li>Richard Alan Kemp, M.D. (M.D. ’60)</li>
      <li>Joyce Kemp Laben (’57)</li>
      <li>John B. Kemp (’60, J.D. ’63)</li>
      <li>John W. Kemp (’84)</li>
      <li>Brian C. Kemp AB (’92)</li>
      <li>William J. Kemp (’13)</li>
      <li>Eileen W. Kemp (’15)</li>
      <li>Robert R. Kemp (’17)</li>
    </ul>
  </div> 
</div>

