<% @page_title = t('views.static.faq.title') %>

<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %>">
    <h2><%= t('views.static.faq.header') %></h2>
    <p>Fishrappr blah blah blah</p>
    <p>Fishrappr blah blah blah</p>
    <p>Fishrappr blah blah blah</p>
</div>
