<% @page_title = "Help | How to Search" %>


<div class="row"</div>
  <div class="col-md-4">
    <%= render partial: 'unified_sidebar' %>
  </div>
  <div class="col-md-7 help-middle-col">
    <h2><%= t('views.static.how-to-search.h2') %></h2>
    <p>The key ways you can search The Michigan Daily are by keyword and by date. We have provided a robust search experience using these features. This help page will help clarify the options you have when searching this data.</p>

    <h3>Search by Date</h3>
    <p>You have the option to include a date or date range when searching. The “Any date”  option is used by default. Your other options for date search are:</p>
    <ul class="help-list">
      <li>On this date - Choose a date to search on. You may also enter just a year and get results for that year only, or a month and year combination to get results for that month and year. This is true for all search options.</li>
      <li>After this date - Choose a date and retrieve results after that date.</li>
      <li>Before this date - Choose a date and retrieve results before that date.</li>
      <li>Date range - Choose a particular date range to search on. </li>
    </ul>

    <h3>Wildcard Search</h3>
    <p>Use wildcards in your search to help retrieve a greater range of results. There are two options for wildcard searching:</p>
    <ul class="help-list">
      <li>* - the asterisk matches zero or more non-whitespace characters.</li>
      <ul class="help-sub-list">
        <li>Example: the search term watch* may return pages containing the terms watch, watches, or watchtower.</li>
      </ul>
      <li>? - the question mark wildcard character matches one non-whitespace character.</li>
       <ul class="help-sub-list">
        <li>Example: the search term w?tch may return pages containing the terms witch or watch.</li>
      </ul>
    </ul>

    <h3>Boolean Search</h3>
    <p>You have the option of using boolean operators in your search. These are:</p>
    <ul class="help-list">
      <li>AND</li>
      <ul class="help-sub-list">
        <li>example: rotc AND military. This will return pages that include the terms rotc as well as military. If a page contains one of these terms but not the other, it will not appear in your search results.</li>
      </ul>
      <li>OR</li>
       <ul class="help-sub-list">
        <li>example: rotc OR military. This will return pages that include the term rotc or military. If a page contains either one of these terms, it will appear in your search results.</li>
      </ul>
      <li>NOT</li>
       <ul class="help-sub-list">
        <li>example: rotc NOT military. This will return pages that include the term rotc but do not include the term military. If a page includes the term military, it will be appear in your search results whether or not it includes the term rotc.</li>
      </ul>
    </ul>

    <p>These operators may be used in conjunction with each other and using quoted keyterms (“small buttons” NOT “large buttons”). Please note that boolean operators must be capitalized to work correctly.</p>

    <h3>What is this strange search result?</h3>
    <p>Sometimes you may notice a page containing terms you know you searched for but were not highlighted, or even false matches. While optical character recognition technology - or OCR - works great on clean text, newspapers can sometimes have stray marks or blurred characters that result in suboptimal character recognition. This is especially common near headers, in classified ads where text is small and close together, and in advertisements. If you notice OCR errors that are negatively affecting your search experience, you can notify us on the “Contact” page and we will investigate.</p>

    <h3>This date doesn’t seem to match the paper…</h3>
    <p>You may come across a newspaper whose date metadata doesn’t appear to match the date on one or more pages in the newspaper. The Michigan Daily is a student newspaper where many students receive training as journalists, editors, and (another position?). As such, there may be mistakes in some papers. There may be other examples of errors such as this that we will not be able to correct.</p>

    <p>However, the <span class="help-highlight">issue date should match the date stated on the front page</span>. If you see examples where this is not the case, please let us know! Please also inform us of any other suspect data or content problems that you may come across so that we may evaluate and correct where necessary.</p>

    <h3>Downloading</h3>
    <p>We have provided options for the user to download particular pages in a newspaper or an entire issue.</p>

    <p>For the page, you may:</p>
    <ul class="help-sub-list">
    <li>Download PDF. This format includes searchable text.</li>
    <li>Download Image. This option will download the page in JPG format. This format does not include searchable text.</li>
    <li>Download Text. A txt document of the page will be downloaded to your machine.</li>
    </ul>

    <p>For the issue, you may:</p>
    <ul class="help-sub-list">
    <li>Download PDF. This format includes a cover page with pertinent issue metadata and is text-searchable.</li>
    <li>Download Text. This option will download a zip archive of txt files for the issue onto your machine. The zip archive also includes a README file with pertinent issue metadata.</li>
    </ul>
  </div> 
  <div class="col-md-1"></div>
</div>



