<% @page_title = "Help | How to Search" %>


<div class="row"</div>
  <div class="col-md-4">
    <%= render partial: 'help_sidebar' %>
  </div>
  <div class="col-md-7 help-middle-col">
    <div class="<%= main_content_classes %>">
      <h2><%= t('views.static.how-to-search.h2') %></h2>
      <p>Duis feugiat porta pulvinar. Cras mollis urna non dapibus aliquet. Phasellus non metus ut enim commodo molestie. Nullam turpis ex, ornare in risus ut, cursus venenatis purus. Nullam sagittis sapien in tortor consectetur auctor.</p>

      <h3>Ways to Search</h3>
      <p>Vestibulum pretium convallis purus, non convallis massa condimentum condimentum. Duis nec erat at velit viverra consequat. Quisque ante sapien, vulputate sed semper vulputate, efficitur vestibulum eros. Etiam pellentesque odio interdum, blandit tortor id, egestas purus. Phasellus vitae facilisis arcu. Integer non magna arcu.</p>

      <h3>Search by Date</h3>
      <p>Vestibulum pretium convallis purus, non convallis massa condimentum condimentum. Duis nec erat at velit viverra consequat. Quisque ante sapien, vulputate sed semper vulputate, efficitur vestibulum eros. Etiam pellentesque odio interdum, blandit tortor id, egestas purus. Phasellus vitae facilisis arcu. Integer non magna arcu.</p>


      <h3>Search by Issue</h3>
      <p>Vestibulum pretium convallis purus, non convallis massa condimentum condimentum. Duis nec erat at velit viverra consequat. Quisque ante sapien, vulputate sed semper vulputate, efficitur vestibulum eros. Etiam pellentesque odio interdum, blandit tortor id, egestas purus. Phasellus vitae facilisis arcu. Integer non magna arcu.</p>
    </div>
  </div> 
  <div class="col-md-1"></div>
</div>



