<% @page_title = "Help | How to Search" %>

<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %>">
    <h2>How to Search Fishrappr</h2>
    <p>Fishrappr blah blah blah</p>
    <h4>About Fishrappr</h4>
    <p>Fishrappr blah blah blah</p>        
    <h4>About Fishrappr</h4>
    <p>Fishrappr blah blah blah</p>        
    <h4>About Fishrappr</h4>
    <p>Fishrappr blah blah blah</p>        
    <h4>About Fishrappr</h4>
    <p>Fishrappr blah blah blah</p>
</div>



