<div class="container">
    <div class="col-md-12">
        <pre>AHOY</pre>

        <form>
            <p>
                # 1 - 
                Year:
                    <input name="data[][yyyy]" />
                Month:
                    <input name="data[][nn]" />
            </p>
            <p>
                #2 - 
                Year :
                    <input name="data[][yyyy]" />
                Month:
                    <input name="data[][nn]" />
            </p>
            <p>
                # 3 - 
                Year:
                    <input name="data[][yyyy]" />
                Month:
                    <input name="data[][nn]" />
            </p>
            <p>
                <input type="submit" />
            </p>
        </form>
    </div>
</div>
