<% @page_title = t('views.djnews-static.about-djnews.title') %>

<div class="container-fluid">

  <div class="row">
    <div class="<%= main_content_classes(true) %> help-middle-col">
        <h1 class="title"><%= t('views.djnews-static.about-djnews.header') %></h1>  
    </div>
  </div>

  <div class="row">
    <%= render partial: 'about_sidebar' %>
      <div class="<%= main_content_classes %> help-middle-col">
        <p>The DJN ...</p>
      </div> 
   </div>

</div>