<% @page_title = t('views.djnews-static.donors.title') %>

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.djnews-static.donors.header') %></h1>
      </div>

  </div>

  <div class="row">

    <%= fishrappr_render 'about_sidebar' %>

    <div class="<%= main_content_classes %> help-middle-col">
      <p><em>The Detroit Jewish News Foundation</em> is an independent 501-c-3 non-profit organization formed in 2011 to capture and tell the ongoing story of the Jewish community of Southeast Michigan and those who shaped it.</p>
      <p>As part of its mission, it digitized and made fully available to the public the entire contents of the Detroit Jewish News and its predecessor publication, the Detroit Jewish Chronicle. Spanning more than 100 years, they are also known collectively as <em>The William Davidson Digital Archive of Jewish Detroit History</em> in recognition of a gift from the William Davidson Foundation.</p>
    </div>
  </div>
</div>
