<% @page_title = t('views.djnews-static.donors.title') %>

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.djnews-static.donors.header') %></h1>
      </div>

  </div>

  <div class="row">

    <%= fishrappr_render 'about_sidebar' %>

    <div class="<%= main_content_classes %> help-middle-col">

      <p>The Detroit Jewish News Foundation</p>

      <p>The Foundation is ....</p>
      <h2 class="subtitle">Other alumni members of the the foundation include:</h2>
      <ul class="no-style-ul">
        <li>nnnnn</li>
        <li>nnnnn</li>
        <li>nnnnn</li>
        <li>nnnnn</li>

      </ul>
      <h2 class="subtitle">Foundation members currently attending Michigan are:</h2>
      <ul class="no-style-ul">
        <li>nnnnn</li>
        <li>nnnnn</li>
      </ul>
    </div> 
  </div>

</div>
