<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" 
  role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
  <span class="glyphicon glyphicon-chevron-up"></span><span class="back-to-top-text">Back to Top</span>
</a> 
