<% if query_has_constraints? %>
  <div id="appliedParams" class="constraints-container">
    <% if false %><span class="constraints-label"><%= t('blacklight.search.filters.title') %></span><% end %>
    <h2><%= t('blacklight.search.filters.title') %></h2>

    <%= render_constraints(params) %>
    <div>
      <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-text", :id=>"startOverLink" %>
    </div>
  </div>      
 
<% end %>