<a href="<%= url_for(url_for_document(document)) %>">
    <h3>
        <%= document.fetch(:date_issued_display).first %>
        <span class="subtitle">Issue <%= document.fetch(:issue_no_t).first %> &#8226; Image <%= document.fetch(:issue_sequence) %></span>
    </h3>
</a>
