<h3>
    <% dochead = capture do %>
        <%= render_index_field_value document, field: :date_issued_display %>
        &#8226;
        Issue 
        <%= render_index_field_value document, field: :issue_no_t %>
        &#8226;
        Image 
        <%= render_index_field_value document, field: :sequence %>
    <% end %>
    <%= link_to_document document, dochead %>
</h3>