 <h4 class="facet-heading"><%= t('views.catalog.fishrappr_panel_title') %></h4>
 <div class="fishrappr_panel">
  <%= render 'constraints' %>
  <div class="panel-title"><%= t('views.catalog.fishrappr_graph_title') %>
  </div>
  <%= render 'search_graph' %>
</div>