 <h4 class="facet-heading"><%= t('views.catalog.fishrappr_panel_title') %><h4>
 <div class="fishrappr_panel">
  <%= render 'constraints' %>
  <div class="panel-title">Narrow Results by Date Range
  </div>
  <%= render 'search_graph' %>
</div>