 <h4 class="facet-heading">Fishrappr options<h4>
 <div class="fishrappr_panel">

  <%= render 'constraints' %>
  <div class="panel-title">Result Frequency by Date Range
  </div>
  <%= render 'search_graph' %>
</div>