<footer>
  <ul>
    <li class="footer-link-help"><%= link_to 'Help', static_path('about') %></li>
    <li class="footer-link-home"><%= link_to 'Home', root_url %></li>
  </ul>
  <span class="copyright">Copyright University of Michigan</span>
</footer>