<div>
    <%= link_to hathitrust_thumbnail(document, size: '200,'), document %>
    <div class="caption">
        <%= render_document_partials document, blacklight_config.view_config(:grid).partials, document_counter: document_counter %>
    </div>
</div>