<div class="alert-plaintext-disclaimer">
  <%= use_icon('info') %> <%= raw(t('blacklight.show.disclaimer')) %>
</div>
<article>
  <%== render_plain_text(@document, 'page_text', breaks: true, truncate: false) %>
</article>