<h3>
    <%= document['date_issued_display'].first %>
     - 
     Issue <%= document['issue_no_t'].first %>
     - 
     Image <%= current_image_sequence(@document) %>
</h3>
<dl class="dl-horizontal">
    <dt>Resource type:</dt>
    <dd>Text</dd>
    <dt>Division:</dt>
    <dd>Bentley Historical Library</dd>
</dl>
<hr />