<div class="alert-plaintext-disclaimer">
  <%= use_icon('info') %> <%= text_disclaimer %>
</div>
<article>
  <%== render_plain_text(@document, 'page_text', breaks: true, truncate: false) %>
</article>