<div class="col-sm-12 ">
  <h2>Browse Issues (Demo only, not getting live data!)</h2>
  <h5>Browse The Michigan Daily Issues back to 1890</h5>

  <h3>Select a decade, year, and month to browse issues by month</h3>

  <% decade_browse_options = get_decade_browse_options %>
  <% year_browse_options = get_year_browse_options %>
  <% month_browse_options = get_month_browse_options %>
  <form role="form" method="get" class="form-inline" action="catalog#browse">
      <div class="browse-select-box">
        <div class="form-group">
          <%= select_tag(name="browse-decade", options_for_select(decade_browse_options, 1), class: 'changeable form-control') %>
          <%= select_tag(name="browse-year", options_for_select(year_browse_options, 1), class: 'changeable form-control') %>
          <%= select_tag(name="browse-month", options_for_select(month_browse_options, 1), class: 'changeable form-control') %>
        </div>
      </div>
    </form>
</div>

<div class="col-sm-12">
  <div class="issues-display">
    <h3>Any Month Any Year Any Decade</h3>  
      <div id="documents" class="row grid">  

      <% 20.times do %>
        <div data-words="[]" data-identifier="mdp-39015071754159-1969-12-10_1-9">
          <a class="thumbnail" style="min-width: 200px; min-height: 269px" href="/view/mdp-39015071754159-1969-12-10_1-9"><img src="https://beta-3.babel.hathitrust.org/cgi/imgsrv/iiif/mdp.39015071754159/IMG00000825/full/200,/0/default.jpg" /></a>
          <div class="caption">
            <h3>
              <a data-context-href="/catalog/mdp-39015071754159-1969-12-10_1-9/track?search_id=232" href="/view/mdp-39015071754159-1969-12-10_1-9">        December 10, 1969
                &#8226;
                Issue 
                80
                &#8226;
                Image 
                9
              </a>
            </h3>
          </div>
        </div>
      <% end %>

  </div>
</div>