.btn-action {
    background: #4E4E4E;
    color: #EEE;
    border: none;

    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.48);

    &:hover, &:focus {
        background: #353535;
        color: #EEE;
    }
}

.btn-search-primary {
    background: #E5E5E5;

    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);

    &:hover {
        color: #272727;
        background: #ccc;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.50);
    }
}

.btn-page-navigation {
    background: transparent;
    border-radius: 30px;
    border: solid 2px #126dc1;
    min-width: 10em;

    color: #0c5292;

    &:not(.endpoint):hover {
        background-color: darken($navbar-bgcolor, 10%);
        border: solid 2px darken(#126dc1, 75%);
    }

    &.endpoint {
        border: solid 2px rgba(0, 0, 0, 0.65); // rgba(18, 109, 193, 0.65);
        opacity: 0.65;
        color: black;
        cursor: initial;
        padding: 9px 16px !important;
    }
}

@media (max-width: $screen-xs-max) {
    .btn-page-navigation {
        min-width: 0;
    }
}