.btn-action {
    background: #6e6e6e; // #4E4E4E;
    color: #FFF;
    border: none;
    border-radius: 3px;

    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    // box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.48);

    &:hover, &.focus { // &:focus
        // background: #353535;
        background: #4e4e4e;
        color: #EEE;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    }

    &:active {
        backround: #333;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    }
}

.btn-search-primary {
    background: #E5E5E5;

    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);

    &:hover, &:active {
        // color: #ccc;
        background: #ccc;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    }

    // &:focus {
    //     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24), inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    // }
}

.btn-page-navigation {
    background: transparent;
    border-radius: 30px !important;
    border: solid 2px #126dc1;
    min-width: 0;

    color: #0c5292;

    &:not(.endpoint):hover {
        // background-color: darken($navbar-bgcolor, 10%);
        // border: solid 2px darken(#126dc1, 75%);
        color: #fff;
        background-color: #126dc1;
    }

    &:not(.endpoint):active {
        // background-color: darken($navbar-bgcolor, 10%);
        // border: solid 2px darken(#126dc1, 75%);
        color: #fff;
        background-color: #0c5292;
    }

    &:not(.endpoint):focus, &:not(.endpoint):focus-visible {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24);
        background-color: #126dc1;
        color: #fff;
        border-radius: 30px !important;
    }

    &.endpoint {
        border: solid 2px rgba(0, 0, 0, 0.65); // rgba(18, 109, 193, 0.65);
        opacity: 0.65;
        color: black;
        cursor: initial;
        padding: 9px 16px !important;
    }
}

// .btn-group {
//     .btn.dropdown-toggle {
//         border-radius: 3px;

//         &:hover {
//             box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 3px 0 rgba(0, 0, 0, 0.12);
//             background-color: #fff;
//         }

//         &:active {
//             color: $link-color;
//             background-color: #fff;
//         }

//         &:focus {
//             box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
//             background-color: #fff;
//         }
//     }
// }

@media (max-width: map-get($grid-breakpoints, 'xs')) {
    .btn-page-navigation {
        min-width: 0;
    }
}