// @import "globals";

.btn-action {
    background: #4E4E4E;
    color: #EEE;

    &:hover {
        background: #353535;
        color: #EEE;
    }
}

.btn-search-primary {
    background: #E5E5E5;
    border: 1px solid #B8B8B8;
    color: #404040;

    &:hover {
        color: #272727;
        background: #ccc; 
        border: 1px solid #272727;
    }
}

.btn-pagination {
    background: transparent;
}