/* CONTACT FORM */
// @import "globals";

@mixin pagination-toolbar {
  background-color: transparent; // #f5f5f5;
  border-radius: 4px;
  border: none; // 1px solid #e3e3e3;
  padding-left: 20px;
  padding-top: 10px;

  div.search-widgets {
    display: inline-block;
    float: right;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 20px;
    width: auto;

    line-height: 2.1;
    font-size: 14px;
    padding: 0px 12px;
    padding-top: 8px;
    height: 44px;

    #sort-dropdown {
      margin-right: 10px;

      button {
        line-height: 1.42857143;
        vertical-align: middle;
        padding: 10px 12px;
        font-size: 14px;
     }
    }
  }

  div.page_links {
    // border: 1px solid red;
    display: inline-block;
    float: none;
    margin-right: 20px;
    // margin-right: auto;
    width: auto;

    span.page_entries {
        -khtml-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #f5f5f5;
        background-color: #fff;
        border-color: #ccc;        
        border-radius: 4px; 
        border: solid 1px #ccc;
        color: #337ab7;
        display: inline-block;
        font-size: 14px;
        line-height: 2.1;
        margin-right: 10px;
        padding: 0 10px;
        vertical-align: middle;
    }

    span.prev-next + span.page_entries {
      margin-left: 10px;
    }

     span.prev-next {
       -khtml-border-radius: 4px;
       -moz-border-radius: 4px;
       -webkit-border-radius: 4px;
       background-color: #fff;
       border-color: #ccc;
       border-radius: 4px; 
       border: 1px solid #ccc;
       color: #337ab7;
       display: inline-block;
       padding: 6px 12px;
       font-size: 14px;
       line-height: 2.1;
       vertical-align: middle;
       min-width: 140px;

       text-align: center;

     }

     span.glyphicon-arrow-left, span.glyphicon-arrow-right {
       font-size: 20px;
       vertical-align: text-bottom;
       line-height: 1;
    }

    span.pages-box {
      border-right: 1px solid #ccc;
      margin-right: 0; // 8px;
      padding-right: 16px;
      padding-top: 6px; 
      padding-bottom: 6px;
      display: inline-block;
    }

    span.results-box {
      display: inline-block;
      padding-top: 6px; 
      padding-bottom: 6px;
      margin-left: 8px;
      font-weight: bold;
    }

  }
}

.hidden { display: none; }

#new_contact label, .contact {
  display: block;
  margin-right: 0px;
  margin-top: 10px;
  text-align: left;
  width: 20em;
}

#new_contact  .checkbox label {
  margin-top: 12px;
}

#new_contact  span.spacer {
  display: block;
  height: 40px;
}

#new_contact  textarea {
  height: 100px;
  width: 500px;
}

#new_contact span.error {
  bolder: solid 2px red;
  display: inline-block;
  margin-left: 20px;
  padding: 4px;
}

#new_contact div.field_with_errors span.error {
  font-style: bold italic;
  font-size: 1.2em;
}

#new_contact .btn {
  margin-left: -15px;
}

p.help-block {
  font-style: italic;
  margin-bottom: 0;
}

#new_contact abbr {
  display: none;
}


#new_contact .required-tag {
  background-color: #10788E;
  border-radius: 0.2rem;
  bottom: 0.2rem;
  color: #FFF;
  display: inline-block;
  font-size: 0.7rem; // falafel
  font-size: 90%;
  font-weight: normal;
  line-height: 1em;
  padding: 0.2rem 0.4rem;
  position: relative;
  text-shadow: none;
  vertical-align: super;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* STYLES FOR SEARCH PARTIAL ON HOME AND CATALOG PAGE */

#header-navbar {
  li.publication-link {
    border-right: 1px solid;
  }
}

body.blacklight-catalog-index #search-navbar , body.blacklight-catalog-home {

  .site-search {
    background: rgb(230,230,230);
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    font-size: 16px !important;
    // margin-top: -20px; // why?

    .btn-action {
      background: #6E6E6E;
      background: #126DC1;   
      box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.36);   
      border-radius: 3px;    
        
      &:hover {    
      background: black;   
      }    
    }

    .form-control, .q-block {
      display: block;
      margin-top:  .5em;
      text-align: left;
    }

    .form-control, .date-option, .input-layout-group {
      width: 12em;
    }

    #date_filter, #q, .search-label {
      display: inline-block;
    }

    .search-label {
      width: 4em;
      text-align: left !important;
    }

    .for-label {
      width: 2em;
    }

    input[name="yy[1]"] {
      width: 5em !important;
    }

    .date-option {
      display: none;
    }

    @media (min-width: 768px) {
      .date-input-control {
        .form-control, span {
          width: auto;
        }
      }
      .input-layout-group {
        display: inline-block;
      }
      
      .form-control, .q-block {
      display: inline-block;
      margin-top:  .5em;
      text-align: left;
     }
      
      .for-label {
        text-align:  center !important;
        width: 3em;
      }
    }

    #q {
      min-width: 20em;
    }
  }
}

// Separate styling for home page search
body.blacklight-catalog-home {

  .site-search {
    background-color: $home-site-search-bgcolor;
    border-radius: 3px;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    text-align: left;

    .search-title {
      margin-top: 0;
      padding-top: 0;
    }

    .filter-title {
      font-size: 16px;
      margin-top: -5px;
    }
  }
}


// facet styling
body.blacklight-catalog-index {
  form.range_date_issued_yyyymmdd_ti {

    input#range_date_issued_yyyymmdd_ti_begin,
    input#range_date_issued_yyyymmdd_ti_end {
      // display: none;
    }

    input[name="commit"] {
      /*
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; 
      -khtml-border-radius: 10px;
      */
      background-color: gray;
      border-radius: 4px; 
      border: 1px solid gray;
      color: white;
      font-size: 1em;
      margin-top: .5em;
      vertical-align: middle;
    }

    button.range-toggle {
      background-color: white;
      border: 1px solid white;
      color: black;
      font-size: 1em;
      height: 2.5em;
      margin: 0;
      padding: 0;
      vertical-align: middle;

      span.glyphicon {
        color: black;
      }
    }

    button.range-toggle:hover {
      color: blue;
    }

   div.date-query-box {

      margin-left: 0;
      margin-top: 0;
      text-align: left;

      div.start-year,
      div.start-month,
      div.start-date,
      div.end-year,
      div.end-month,
      div.end-date
       {
        display: inline-block;
        margin: .5em 0 0 0;
        padding: 0;
        position: relative;


        select#range_start_month,
        select#range_end_month,
        select#range_start_date,
        select#range_end_date {
          border-radius: 4px; 
          color: black;
          font-size: 1em;
          margin: 0 .2em;
          text-align: center;
          vertical-align: middle;
          width: 4em;

        }

        input#range_start_year,
        input#range_end_year {
          border-radius: 4px; 
          border: 1px solid gray;
          color: black;
          font-size: 1em;
          height: 2em;
          line-height: 1em;
          margin: 0;
          padding: 0;
          text-align: center;
          width: 4em;
        }

        span.hint {
          bottom: 0px;
          color: gray;
          margin: 0;
          padding: 0;
          position: absolute;
          right: -35px;
        }
      }

      #dash {
        display: none;
      }
    }
  }
} // end facet style

// hide search from search-bar of show page
body.blacklight-catalog-show div.search {
  display: none;
}

#sidebar {
  padding-left: 0;
  padding-right: 0;
}

/* STYLES FOR BROWSE PAGE */

body.blacklight-catalog-browse {

  div#search-navbar {
    display: none;
  }

  .browse-subtitle {
    font-size: 16px;
    margin-top: 0;
  }

  .browse-month-group, .browse-instructions {
    font-size: 24px;
  }

  background-color: #F8F8F8;

  form {
    border-top: 3px solid #ddd;
    border-bottom: 10px solid #ddd;
    padding: 20px;
    background-color: white;
    width: 100%;
  }

  div.issues-display {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
  }

  select[name^="browse"] {
  border-radius: 4px; 
  border: 1px solid white;
  color: black;
  font-size: 1.5em;
  margin: 0 .4em;
  text-align: center;
  vertical-align: middle;
  width: 8em;

  }

  div.pagination {
    @include pagination-toolbar;
  }

  div.pagination {
    display: block;
    margin: 0;
  }

  ul.pagination {
    margin: 0;
  }

  .grouped-documents .row.grid {
    margin-left: 0;
    margin-right: 0;
  }

  .grouped-documents:last-child {
    margin-bottom: 20px;
  }

  h3.group-key {
    padding-bottom: 8px;
  }
}


/* STYLES FOR CATALOG PAGE */

// Catalog page search at top of page

div.top-panel-heading {
  margin-left: -15px;
}

.catalog_startOverLink {
  background-color: white;
  font-family: inherit;
  font-weight: bold !important;
  line-height: 1.1;
  font-size: 14px !important;
  border: 1px solid #337ab7;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 20px;
  display:none;
  border: 3px solid #337ab7;
  z-index: 100;
  color: $gray-lighter;
}

.back-to-top-text {
  display: block;
  font-size: .7em;
  font-weight: bold;
}

body.blacklight-catalog-index {
  article.document {
      @include make-row;

      span.document-metadata {
        font-weight: bold;

        span.blacklight-page_text {
          display: block;
          font-weight: normal;
        }
      }  

      div.document-thumbnail {
        float: left !important;
        height: 150px;
        margin-left: 0 !important;
        margin-right: 20px;
        padding: 0;
        width: 150px;
      }
    }

  div.fishrappr_panel {
    background-color: #fff;
    border-radius: 4px; 
    border: 1px solid #ccc;
    color: #337ab7;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1em;
    padding: 10px;
    vertical-align: middle;
  }

  div#sortAndPerPage {
    @include pagination-toolbar;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

/* STYLES FOR HOME PAGE */

.navbar + .navbar {
  margin-top: 0;
}

body.blacklight-catalog-home {
  display: block;
  padding: 0;

  footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-fluid {

    &.site-search {
      padding: 0;
      padding: 20px;
      padding-left: 10%;
      padding-right: 10%;    
    }
  }

  h2 {
    font-size: 40px;
  }

  .navbar-static-top {
    margin-bottom: 0;
  }

}

.home {

  padding-left: 0; 
  padding-right: 0;

  .head, .donors, .featured {
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .head {
    padding: 0;
    min-height: 500px;
    background-image: image-url("home_page_banner.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: cover;
    color: white;
  }

  form {
    text-align: left;
  }

  .head a, .donors a {
    background: transparent;
    border: solid 2px white;
    color: white;
    display: block;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    padding: .5em;
    width: 12em;

    &:hover {
      background: #bbb;
      color: black;
    }


  }
}


.home .head {

  h1 {
    font-size: 60px;
  }

  .masthead {
    filter:invert(100%);
    width: 706.1px;
    height: 96px;
  }

  .subtitle {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
  }

  p.description1, p.description2 {
    color: #ffffff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
  }

  .description1 {
    margin-top: 0;
  }

  a {
    border: solid 2px #ffffff;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    min-width: 166px;
  }  
} /* .home .head */

.home .donors {
  background-color: #00274c;
  color: #ffffff;
  display: block;
  font-weight: normal important;
  height: auto;

  .donor-title {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: .5em;
    text-align: center;
  }

  p.description {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  a {
    border: solid 2px #ffffff;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
  }
}

.home .partnerships {
  min-height: 152px;
  background-color: #e6f3ff;
  width: 100%;

  .description {
    color: #00274c;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

    .daily-logo {
      width: 294.2px;
      height: 40px;
      background-color: #e6f3ff;
      margin-bottom: 20px;
    }  

    .mlibrary-logo {
      width: 243px;
      height: 39.6px;
      background-color: #e6f3ff;
      margin-left: 50px;
      margin-bottom: 20px;
    }

    .bentley-logo {
      width: 538px;
      height: 39.9px;
      background-color: #e6f3ff;
      margin-left: 50px;
      margin-bottom: 20px;
    }      
  }
 
}

.home .featured {
  background-color: #ffffff;
  color: black;
  min-height: 300px;
  padding: 1em 0 1em 0;

  .featured-title {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    text-align: center;
  }

  .description {
    color: #6e6e6e;    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
  }

  #documents {
    margin-top: 2em;
  }

  figure {
    margin: 0 60px 0 60px;
  
    .caption {
      color: #0c5292;
      display: block;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -6px;
      text-align: center;
      width: 273px;

      figcaptions {
        width: 273px;

        a {
          color: #126dc1;
          font-size: 16px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          width: 273px;
        }
      }
    }
  }

  .grid > div {
    border: none;
    }

  .gird > figure img {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .btn-squared {
    background: transparent;
    border-radius: 3px;
    border: 2px solid #126dc1;
    color: #126dc1;
    font-family: Helvetica;
    font-size: 16px;
    margin-top: 25px;
    min-width: 12em;

    &:hover {
      text-decoration: underline;
      background: #eee;
    }
  }
}

/* Footer Style*/

html, body {
  height: 100%;
}

body {
    background: $body-bgcolor;
}

.navigation-toolbar {
    background-color: $navbar-bgcolor;
    // margin-top: -20px;
    padding: 10px;
    margin-bottom: 0px;
}

footer { 

  border-radius: 0 !important;
  padding: 10px;

  &.navbar-inverse {
    background-color: $footer-bgcolor;
  }

  font-family: $base-fonts;
  font-size: 14px;

  .footer-link-help a {
    border: 1px solid white;
  }
}  


/* TOP NAV BAR */

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 16px;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }

}

/* STATIC PAGES */

body.blacklight-static,
body.blacklight-contacts-new,
body.blacklight-contacts-create {
  background-color: lightgray;
}

help-top-row {
  height: 15em;

  h2, p {
    margin-left: 0;
  }
}

.help-middle-col {
  background-color: white;
  margin-top: 1.5em;
  padding: 1em 4em 4em 4em;
}

/* HELP SIDEBAR */

body.blacklight-static-how_to_search,
body.blacklight-static-about,
body.blacklight-static-donors,
body.blacklight-contacts-new {
  background-color: #F8F8F8;
}

.sidebars {
  background-color: white;
  border-radius: 4px; 
  border: 1px solid #ddd;
  width: 19em;
  margin-top: 1.5em;
  padding: .5em 0 1em 0;
}

.help-sbar h2 {
  font-size: 2em;  
  padding-left: 1em;
  color: #666666;
  margin-bottom: -20px;
}

.help-ul {
  -webkit-padding-start: 0;
  list-style-type:none;
  margin: 1.5em 0 0 2em;
  padding: 0;
  padding-top: 1em;
  width: 18em;
}

.help-ul li {
  display: block;
  font-size: 1.5em;
  height: 1.5em;
  margin: 0 0 .5em 0;
  padding: 0 0 0 .5em;
  vertical-align: middle;
  width: 111em;

  a {
    color: #666666 !important;
    display: block;
    height: 2em;
    margin: 0 0 .5em 0;
    padding: 0 0 0 .5em;
    text-align: left;
    vertical-align: middle;
    width: 10em;
  }

  a:hover, a:focus {
    border-radius: 4px;
    border: 1px solid #337ab7;
  }

  a.currentlyActive {
    text-decoration: underline !important;
  }
}

/* Suppress some elements we don't want on static pages */

.blacklight-contacts #search-navbar,
.blacklight-contacts .search-query-form,
.blacklight-static #search-navbar,
.blacklight-static .search-query-form {
  display: none;
}

.align-right {
  text-align: right;
}

.debug-breakpoints {
  position: fixed;
  bottom: 4px;
  left: 4px;
  height: auto;
  width: 100px;
  text-align: center;
  padding: 4px;
  background: rgba(0,0,0, 0.25);
  color: white;
  font-weight: bold;
}


// searching icon animation
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}