// graph on catalog page
// @import "globals";

.day { 
  background-color: rgb(27,111,191);  // brown #CDDEB6;
  color: black;
  display: block;
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  margin-top: 3px;
  min-width: 0px;
  padding: 1px 2px;
  text-align: left;
  white-space: nowrap;
 }

.day0 { 
  background-color: lightgray;
  color: black;
  display: block;
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  margin-top: 3px;
  min-width: 0px;
  padding: 1px 2px;
  text-align: left;
  white-space: nowrap;
 }

.tip {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 3px 4px 6px rgba(0,0,0,0.4);
  font-weight: bolder;
  padding: 3px;
  z-index: 100;
}

.col_names {
  color: green;
  display: block;
  font-size: 15px;
  left: -50px;
  position: relative;
}

.axis {
  color: #337ab7;
  display: none;
  font-size: .8em;
  left: 10px;
  position: relative;
}

#hit_chart_frame {
  // border: 1px solid gray;
  margin: 10px 10px 10px 15px;
  padding: 20px 0 20px 55px;
  position: relative;
}

#hit_instructions {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 30px 0;
}

#y-axis-title {
  color: black !important;
  display: inline-block;
  font-size: .8em;
  left: -45px;
  position: absolute;
  top: 130px;

  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}

#x-axis-title {
  color: black !important;
  display: inline-block;
  font-size: .8em;
  left: 50;
  position: absolute;
  bottom: -0;
}

