.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid > figure, .grid > div {
    flex: 0 0 auto;
    margin: 10px;

    padding: 10px;
    // width: 225px;
    text-align: center;
    // border: 1px solid #eee;

    &:hover {
        background: #f6f6f6;
    }

    a.thumbnail {
        margin-bottom: 10px;

        // padding: 2px;
        // box-shadow: 0 0 2px rgba(0, 0, 0, .34);
        // border: 1px solid white;
        z-index: 0;

        &:before,
        &:after {
          background: #fff;
          box-shadow: 0 0 2px rgba(0, 0, 0, .34);
          content: '';
          height: 100%;
          position: absolute;
          transform:rotate(3deg);
          transition: all .3s ease-in-out;   
          width: 100%;
          z-index:-1;
          top: 0;
          left: 0px;
        }
        
        &:after {
          box-shadow: 0 0 2px rgba(0, 0, 0, .34);
          left: 0;
          top: 0;
          transform: rotate(1deg);
        }
        
        &:hover:after,
        &:hover:before {
          box-shadow: none;
          transform: rotate(0deg);
        }
    }

    img {
        max-width: 100%;
        height: auto !important;
    }

    .caption {
        text-align: left;
        margin-left: 10px;
    }

    .document-metadata {
        dt {
            display: block;
            float: none;
            text-align: left;
        }

        dd {
            margin-left: 5px;
        }

        .blacklight-page_text {
            display: none !important;
        }
    }
    
}
