// @import "globals";

#image-viewer-wrap {
    height: 75%;
    padding-top: 45px;
    margin-bottom: 20px;
    background: $image-viewer-bgcolor;
    position: relative;
}

#image-viewer {

    background: $image-viewer-bgcolor;
    height: 98%;

    &:focus {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

.image-viewer-toolbar {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 9000;
    background: $image-viewer-bgcolor;

    div > span {
        color: white;
        display: inline-block;
        padding: 5px 10px;
        line-height: 18px;

        a {
            color: white;
            text-decoration: underline;
        }
    }

    label {
        font-size: 12px;
        color: white;
        font-weight: normal;
        margin-right: 10px;
    }

    .btn {
        // background: #9B9B9B;
        // color: white;
        min-width: 100px;
        font-size: 12px;
    }

    .btn-action {
        &:hover {
            background: #3d3d3d;
        }
    }
}

.zoom-toolbar > span {
    border: none; // 1px solid white;
    font-size: 12px;
}

.navigation-toolbar .pager {
    margin: 0;

    li {

        > span {
            background: transparent;
            border: 1px solid #666;
            min-width: 140px;
        }

        a {
            background: transparent;
            border: 1px solid #136DC1;
            color: #136DC1;
            min-width: 140px;

            &:hover {
                background: rgba(19, 109, 193, 0.2);
            }
        }

        span.current-page-number {
            background: transparent;
            border: none;
            min-width: 0;
        }        
    }


}

.local-options-toolbar {
    display: flex;
    padding: 0;
    // margin: -1em 0 0 -1em;
}

.local-options-toolbar .grid-col-md-4 {

    flex: 1;

    background: white;
    padding: 1em;
    margin-right: 1em;
    &:last-child {
        margin-right: 0;
    }


    // min-height: 150px;
    // border-right: 8px solid #F2F2F2;
    // &:last-child {
    //     border-right: none;
    // }
}


.blacklight-catalog-show h2 {
    margin-top: 0;
}

.blacklight-catalog-show {

    h2 {
        margin-top: 0;
    }

    .panel {
        h3 {
            font-size: 14px;
            font-weight: normal;
        }

        .panel-heading {
            padding-top: 0;
            padding-bottom: 8px;
        }

        .panel-body {
            padding-top: 8px;
        }
    }

    article {
        font-size: 1.2em;
        line-height: 1.7em;
        max-width: 35em;
    }
}
.list-group .btn-group {
    width: 100%;

    .btn-link.list-group-item:hover {
        border-color: #ddd;
    }
}

.action-group {
    width: 100%;
    margin-bottom: 20px;

    .btn {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }
}

*[class*='panel-actions-'] {
    h3, h4 {
        margin-bottom: 0;
    }

    .action-group {
        .btn {
            margin-bottom: 10px;
        }
    }
}

.panel-actions-page .btn {
    background: #136DC1;
    color: white;

    &:hover {
        background: #0e5393;
    }
}

.panel-actions-issue .btn {
    background: #0C5292;
    color: white;

    &:hover {
        background: #083863;
    }
}

.document .dl-horizontal {
    dt {
        text-align: left;
    }
}

.extension {
    display: inline-block;
    padding: 4px 8px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #083863;
    border-radius: 4px;
}

@media (max-width: $screen-xs-max) {
    .image-viewer-toolbar .btn {
        min-width: 1em;
    }

    .navigation-toolbar .pager li {
        a, span {
            min-width: 1em;
        }
    }

    .btn-issue-link {
        padding-left: 0;
    }

    .navbar-brand img {
        max-width: 100%;
    }
}