// @import "globals";

#image-viewer-wrap {
    height: 75%;
    width: 100%;
    padding-bottom: 5px;
    display: table;
    // padding-top: 45px;
    margin-bottom: 20px;
    background: $image-viewer-bgcolor;
    position: relative;

    canvas:focus {
        border: 2px solid blue;
    }

    // &:after, &:before {
    //     top: 100%;
    //     left: 50%;
    //     border: solid transparent;
    //     content: " ";
    //     height: 0;
    //     width: 0;
    //     position: absolute;
    //     pointer-events: none;
    //     z-index: 5000;
    // }

    // &:after {
    //     border-color: rgba(51, 51, 51, 0);
    //     border-top-color: #333;
    //     border-width: 30px;
    //     margin-left: -30px;
    // }
    // &:before {
    //     border-color: rgba(51, 51, 51, 0);
    //     border-top-color: #333;
    //     border-width: 36px;
    //     margin-left: -36px;
    // }

}

#image-viewer {

    background: $image-viewer-bgcolor;
    display: table-row;
    height: 100%;

    &:focus {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

.span-zoom-status {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: normal;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    float: left;

}

.image-viewer-toolbar {
    padding-top: 14px; // 5px;
    padding-bottom: 14px; // 5px;
    z-index: 5000;
    background: $image-viewer-bgcolor;
    // border-bottom: 1px dotted yellow;

    div > span {
        color: white;
        display: inline-block;
        padding: 5px 18px;
        line-height: 18px;

        a {
            color: white;
            text-decoration: underline;
        }
    }

    label:not(.btn-action) {
        font-size: $font-size-base;
        color: white;
        font-weight: normal;
        margin-right: 4px;

        padding: 5px 0px;
        line-height: 18px;

        input {
            margin-right: 4px;
        }
    }

    .btn-action {

        border-radius: 3px;
        background-color: #6e6e6e;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);

        min-width: 8em;

        &:hover, &:active {
            background: #4e4e4e;
            // background-color: var(--grey1);
            box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.48);
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.48), inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
        }
    }

    label.label-toggle-highlight {
        padding-left: 25px;
        cursor: pointer;
        position: relative;

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control__indicator {
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: solid 2px rgba(255, 255, 255, 0.6);
            display: inline-block;

            &:hover {
              border: solid 2px #fff;
            }

            &:after {
                position: absolute;
                display: none;
                content: '';
            }
        }

        &:focus .control__indicator {
        }

        input:focus ~ .control__indicator {
            background-color: #333;
            border: solid 2px #fff;
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.48);            
        }

        input:checked ~ .control__indicator {
            background-color: #ffffff;

            &:after {
                display: block;
                top: 0px;
                left: 5px;
                width: 8px;
                height: 14px;
                transform: rotate(45deg);
                border: solid #000;
                border-width: 0 2px 2px 0;
            }
        }
    }

    input.action-toggle-highlight {

        & + span {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        & + span:before {
            display: block;
            content: "";
            position: absolute;
        }

        &:checked ~ span:before {

        }
    }

}

.image-viewer-toolbar.option-2, .image-viewer-toolbar.option-3 {
    .btn-action + .btn-action {
        border-left: 1px solid #333;
    }

    // label.btn-action + label.btn-action {
    //     border-left: 2px solid #333;
    // }

    .btn-action {
        min-width: 0;
    }

    .btn-action.active {
        background-color: darken(#6e6e6e, 10%);
    }

    .btn-link {
        color: #fff;
    }

    // .row {
    //     visibility: visible;
    // }

    // &.image-viewer-toolbar-bottom {
    //     .row.hidden {
    //         display: block !important;
    //         visibility: hidden !important;
    //     }
    // }

}

.zoom-toolbar {

    &.center-block {
        text-align: center;
        white-space: nowrap;
    }

    > span {
        border: none; 
    }
}

.blacklight-catalog-show {
    .navigation-toolbar {
        padding-top: 8px;
        padding-bottom: 8px;

        .btn-issue-link {
            padding-right: 2px;
            padding-left: 16px;
        }

        .row > div > span {
            display: inline-block;
            margin: 0;
            padding: 9px 2px;
            vertical-align: middle;
        }

        .current-page-number {
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        .navigate-pages {
            text-align: right;
            white-space: nowrap;
        }

    }
}


.local-options-toolbar {
    display: flex;
    padding: 0;
    // margin: -1em 0 0 -1em;
}

.local-options-toolbar .grid-col-md-4 {

    flex: 1;

    background: white;
    padding: 1em;
    margin-right: 1em;
    &:last-child {
        margin-right: 0;
    }


    // min-height: 150px;
    // border-right: 8px solid #F2F2F2;
    // &:last-child {
    //     border-right: none;
    // }
}


.blacklight-catalog-show h2 {
    margin-top: 0;
}

.blacklight-catalog-show {

    h2 {
        margin-top: 0;
    }

    .panel {
        h3 {
            font-size: 14px;
            font-weight: normal;
            margin-top: 0;
        }

        .panel-heading {
            padding-top: 0;
            padding-bottom: 8px;
        }

        .panel-body {
            padding-top: 8px;
        }

        margin-bottom: -5px;

        &:nth-of-type(1) {
            h3 {
                margin-top: $line-height-computed;
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

    article {
        font-size: 1.2em;
        line-height: 1.7em;
        max-width: 35em;
    }
}
.list-group .btn-group {
    width: 100%;

    .btn-link.list-group-item:hover {
        border-color: #ddd;
    }
}

.action-group {
    width: 100%;
    // margin-bottom: 20px;

    .btn {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }
}

*[class*='panel-actions-'] {
    h3, h4 {
        margin-bottom: 0;
    }

    .action-group {
        .btn {
            margin-bottom: 10px;
        }
    }

    form {
        margin-bottom: 20px;
    }
}

#page-text.tab-pane {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &.active {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: auto;
    }
}

.stuck-toolbar-bottom {
    position: fixed;
    bottom: 0;
}

body[data-option=tabs] .panel-actions-page, body[data-option=tabbish] .panel-actions-page {
    margin-top: 50px;
}

.panel-actions-page .btn {
    // background: #136DC1;
    color: white;

    border-radius: 3px;
    background-color: #126dc1;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);

    &:hover, &:active {
        background: #0c5292;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.36);
    }
}

.panel-actions-issue .btn {
    color: white;

    background-color: #0c5292;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.48);

    &:hover, &:active {
        background: #033664;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.48);
    }
}

.panel-actions-share {
    input[readonly] {
        background: transparent;
        border: solid 2px #cccccc;
        border-radius: 3px;

        &:hover {
            border: solid 2px #126dc1;
        }

        &:active {
            border: solid 2px #0c5292;
        }
    }
}

.panel-actions-rights {
    padding-top: 15px;

    .panel-heading h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .panel-body {
        p { font-size: 14px; }
    }

    .see-more {
        display: none;

        &.reading {
            display: block;
        }
    }

    button {
        padding: 0;
    }
}

.panel-login-options {
    padding: 15px;
    padding-top: 8px; 
    padding-bottom: 0px; 
    // border: 4px solid #ddd; 
    width: 100%; 
    margin: 0px auto;
    margin-bottom: 16px;

    .btn {
        background-color: #6e6e6e; 
        display: block; 
        margin-bottom: 8px; 
        width: 50%
    }

    p {
        font-size: 15px; 
        padding: 0px 4px;
        margin-bottom: 8px;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

.blacklight-catalog-show {
    .panel-actions-share, .panel-actions-issue, .panel-actions-contact {
        margin-bottom: 2px;
    }

    .panel-actions-share, .panel-actions-contact {
        padding-top: 15px;
    }

    .panel-actions-contact a {
        color: #333333;
        color: var(--black);
        text-decoration: underline;
    }
}

.document .dl-horizontal {
    dt {
        text-align: left;
    }
}

.label.label-note {
    background: #f2f2f2;
    color: #4e4e4e;

    a {
        text-decoration: underline;
        color: #666;
    }
}

.extension {
    display: inline-block;
    padding: 4px 8px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #083863;
    border-radius: 4px;
}

.alert-plaintext-disclaimer {
    border-radius: 3px;
    background-color: #f2f2f2;
    border: solid 2px #6e6e6e;
    color: #4e4e4e;
    padding: $alert-padding;
    margin-bottom: $line-height-computed;

    a {
        color: #4e4e4e;
        text-decoration: underline;

        &:hover {
            // font-weight: bold;
            color: black;
        }
    }
}

.navigate-issue {
    white-space: nowrap;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden;
}

iframe.downloader {
    height: 0;
    width: 0;
}

h1.page {
    // display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    padding-left: 2px;
    font-weight: normal;

    a.btn {
        font-size: 24px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-weight: bold;
    }

    > span {
        // display: inline-block;
        padding-top: 9px;
        padding-bottom: 9px;
        vertical-align: middle;
        line-height: 1.42857143;

        &.current-image-sequence {
            font-weight: bold;
        }
    }

    .pre-issue-mark, .pre-page-mark {
        margin-left: -8px;
        margin-right: -8px;
    }

    i.icon_16px {
        font-size: 130%; 
    }
}

@media (max-width: $screen-xs-max) {

    h1.page {
        font-size: 18px;

        > span, a.btn {
            line-height: 0.8;
        }

        span.pre-issue-mark {
            &:after {
                // display: table;
                // content: "";
                // clear: both;
                content: '\A';
                white-space: pre;
            }
        }

        a.btn {
            font-size: 18px;

            &:before {
                display: table;
                content: "";
                clear: both;
            }
        }

        i.icon_16px {
            font-size: 90%;
        }
    }

    #image-viewer-wrap {
        padding-bottom: 25px;
    }

    .image-viewer-toolbar .btn {
        min-width: 1em;
    }

    // .image-viewer-toolbar div {
    //     padding-left: 2px;
    //     padding-right: 2px;
    // }

    .btn-issue-link {
        padding-left: 0;
    }

    .navbar-brand img {
        max-width: 100%;
        max-height: 100%;
    }

    .zoom-toolbar {
        &.center-block {
            text-align: left;
        }
    }

    .option-3 .center-block { text-align: center; }

    // .blacklight-catalog-show {
    //     .navigation-toolbar {
    //         .navigate-pages {
    //             text-align: center;
    //         }
    //     }        
    // }

}

.table-wrapper {
  position: relative;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}
.table-container-fluid {
    display: block;
    @media (min-width: $screen-sm-min) {
      display: table;
    }
  width: 100%;
}
.table-row {
  display: block;
  @media (min-width: $screen-sm-min) {
    display: table-row;
  }
}
.table-col-md-9 {
  // border: 1px solid red;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: auto;
    display: table-cell;
  }
}

.table-col-md-3, .table-empty
{
  display: block;
  border: none;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: $screen-sm-min) {
    display: table-cell;
    width: 33%;
  }
  @media (min-width: $screen-md-min) {
    display: table-cell;
    width: 25%;
  }
  @media (min-width: $screen-lg-min) {
    display: table-cell;
    width: 25%;
  }
}

.table-col-md-3 {
  position: static;
  top: 60px;
  bottom: 0;
  @media (min-width: $screen-sm-min) {
    position: absolute;
  }
  @media (min-width: $screen-md-min) {
    position: absolute;
  }
  @media (min-width: $screen-lg-min) {
    position: absolute;
  }

}

@media (min-width: $screen-xs-max) {
    .page-options {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 100px;

        &.expanded {
            margin-bottom: 250px;
        }
    }    
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .image-viewer-toolbar {
        // border-bottom: 1px dotted blue;

        .btn.btn-action {
            min-width: 1em;
        }

        label {
            white-space: nowrap;
        }

    }

    .btn-page-navigation {
        min-width: 0;
    }

    .container-morph {
        @include container-fixed;
        width: 100%;
    }

}

// @media (max-width: $screen-md-max ) {
@media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {    

    .image-viewer-toolbar {
        // border-bottom: 1px dotted green;

        label {
            white-space: nowrap;
        }
    }
    
}

