
var setCookie = function(name, value, expiracy) {
  var exdate = new Date();
  exdate.setTime(exdate.getTime() + expiracy * 1000);
  var c_value = escape(value) + ((expiracy == null) ? "" : "; expires=" + exdate.toUTCString());
  document.cookie = name + "=" + c_value + '; path=/; domain=.umich.edu';
};

var getCookie = function(name) {
  var i, x, y, ARRcookies = document.cookie.split(";");
  for (i = 0; i < ARRcookies.length; i++) {
    x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
    x = x.replace(/^\s+|\s+$/g, "");
    if (x == name) {
      return y ? decodeURI(unescape(y.replace(/\+/g, ' '))) : y; //;//unescape(decodeURI(y));
    }
  }
};

var is_cancelled = false;
$().ready(function() {

    var pdf_download_href;

    var $modal;
    window.$modal = $modal;
    $(window).on('message', function(e) {
        var event = e.originalEvent;
        var data = event.data;
        if ( typeof(data) != 'object' ) { return ; }
        if ( ! data.status ) { return ; }
        if ( is_cancelled ) { return ; }

        var body, progress;
        body = '<div class="text-center"><p>' + data.message + '</p></div><div class="progress progress-striped active"><div class="progress-bar" role="progressbar" style="width:0%"><span class="sr-only">0% Complete</span></div></div><div class="pdf-reader-alert"><p><i class="icon_warning icon_16px" aria-hidden="true"></i> Once your PDF is built, keep in mind the downloaded file can be large and is best viewed with a dedicated PDF reader.</p></div>';
        if ( $modal === undefined ) {
            window.$modal = $modal = bootbox.dialog({
                message: body,
                buttons: {
                    cancel: {
                        label: "Cancel",
                        className: 'btn-default',
                        callback: function() {
                            console.log("CANCELING", data.cancel_href);
                            is_cancelled = true;
                            $modal.modal('hide');
                            setTimeout(function() {
                                $modal.remove();
                                $modal = undefined;
                            }, 500);
                            $("iframe.downloader").attr("src", data.cancel_href);
                            $("body").find("[data-behind-modal='true']").attr('inert', null).attr('data-behind-modal', false);
                        }
                    },
                    download: {
                        label: "Download PDF",
                        className: 'btn-primary trigger-download hidden',
                        callback: function() {
                            // window.location.href = data.next_href;
                            var href = $modal.data('download-href');
                            // window.location = href;
                            $("iframe.downloader").attr('src', href);
                            setTimeout(function() {
                                $modal.modal('hide');
                                setTimeout(function() {
                                    $modal.remove();
                                    $modal = undefined;
                                }, 500);
                                is_cancelled = true;
                                $("body").find("[data-behind-modal='true']").attr('inert', null).attr('data-behind-modal', false);
                            }, 100);
                        }
                    }
                }
            })
        } else {
            $modal.find(".text-center p").text('...');
            $modal.find(".trigger-download").addClass('hidden');
            $modal.find(".progress").show().find(".progress-bar").css({ width: '0%' }).find(".sr-only").text("0% Complete");
            $modal.modal('show');
        }
        $modal.find(".text-center p").text(data.message);

        // accessibility fixes and dreams for <dialog>
        // $modal.find("button[data-dismiss='modal']").attr('aria-label', 'Close dialog').attr('aria-hidden', null);
        $modal.find("button[data-dismiss='modal']").hide();
        $("body").find(">:not(.modal,.show,iframe)").attr('inert', true).attr('data-behind-modal', true);
        $(".bootbox.modal").attr('aria-label', 'Download issue');

        if ( data.status.status == 'FIN' ) {
            $modal.find(".trigger-download").removeClass("hidden");
            $modal.data('download-href', data.next_href);
            $modal.find(".progress").hide();

        } else if ( data.status.index > 0 ) {
            var p = Math.ceil(data.status.index / data.status.num_pages * 100);
            $modal.find(".progress-bar").css({ width: p + '%'}).find(".sr-only").text(p + '% Complete');
            $modal.find(".progress").show();
        }
    })

    $(".action-download-pdf").on('click', function(e) {

        is_cancelled = false;
        e.preventDefault();
        pdf_download_href = $(this).attr("href");
        $("iframe.downloader").remove();
        $("body").append('<iframe aria-hidden="true" tabindex="-1" class="downloader" src="' + pdf_download_href + '"></iframe>');

        // setCookie('downloadStarted', 0, 100);
        // setTimeout(checkDownloadCookie, 1000);
        // bootbox.alert("Downloading...");

        // e.preventDefault();
        // var identnfier = $("#content").data('identifier');
        // $.getJSON(window.location.href + "/issue_data", function(data) {
        //     F.downloader = new F.Downloader(data);
        //     F.downloader.startDownload();
        // })
    })

    var downloadTimeout;
    var checkDownloadCookie = function() {
      if (getCookie("downloadStarted") == 1) {
        setCookie("downloadStarted", "false", 100); //Expiration could be anything... As long as we reset the value
        bootbox.hideAll();
        // $('#fader').css('display', 'none');
      } else {
        console.log("AHOY WAITING DOWNLOAD");
        downloadTimeout = setTimeout(checkDownloadCookie, 1000); //Re-run this function in 1 second.
      }
    };
})