<li class="<%= ( params[:page] == path.split("/").last || (action_name == "new" && path == "/contacts") ) ? 'current' : '' %>">
	<% case label %>
	<% when "Contact Us" %>
		<a href="<%= contact_link %>" referrerpolicy="unsafe-url">Contact Us</a>
	<% when "Back to Search", label.first == "#" %>
		<%= link_to label, path, :id => path %>
	<% else %>
		<%= link_to label,  path %>
	<% end %>
</li>
