<% @page_title = t('views.static.donors.title') %>

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.static.daily-static.donors.header') %></h1>
      </div>

  </div>

  <div class="row">

    <%= render partial: 'about_sidebar' %>

    <div class="<%= main_content_classes %> help-middle-col">

      <p>The Kemp Family Foundation was established by John B. Kemp (’60, J.D. ’63), founder and chief executive officer of Lease Corporation of America in Troy, Michigan. He is also a co-founder and board chairman emeritus of the Troy Michigan law firm of Kemp Klein which recently celebrated its 45th anniversary. In addition to The Michigan Daily digitization project, The Kemp Family Foundation has financed historical symposia and related workshops for the University. Lately, the focus has been on digital history, providing critical training for faculty and students in this fast growing area within the history discipline.</p>

      <p>The Foundation is the philanthropic arm of a family with deep roots in the history of the University of Michigan. Four generations of family members have received their education here beginning with Berton John Kemp (’30) and his brother Robert Kempski, D.D.S. (D.D.S ’48), whose parents had immigrated to Grand Rapids at the turn of the 20th century.</p>
      <h2 class="subtitle">Other alumni members of the family include:</h2>
      <ul class="no-style-ul">
        <li>Richard A. Kemp, M.D. (M.D. ’60)</li>
        <li>Joyce Kemp Laben (’57)</li>
        <li>John B. Kemp (’60, J.D. ’63)</li>
        <li>John W. Kemp (’84)</li>
        <li>Thomas R. Kemp (’88)</li>
        <li>Brian C. Kemp (’92)</li>
        <li>William J. Kemp (’13)</li>
        <li>Eileen W. Kemp (’15)</li>
        <li>Robert R. Kemp (’17)</li>
      </ul>
      <h2 class="subtitle">Family members currently attending Michigan are:</h2>
      <ul class="no-style-ul">
        <li>Mary Kate Kemp (’19)</li>
        <li>Whitney C. Kemp (’20)</li>
      </ul>
    </div> 
  </div>

</div>
