      <div class="panel panel-actions-rights">
        <div class="panel-heading">
          <h3>Rights / Permissions</h3>
        </div>
        <div class="panel-body">
          <p>The University of Michigan Library provides access to these materials for educational and research purposes. These materials may be under copyright. If you decide to use any of these materials, you are responsible for making your own legal assessment and securing any necessary permission. If you have questions about the collection, please contact the Bentley Historical Library at <a href="mailto:bentley.ref@umich.edu">bentley.ref@umich.edu</a></p>
          <p class="xx-see-more" role="alert">
            If you have non-permissions questions about the collection, please use the <a href="<%= contact_link %>&type=3" referrerpolicy="unsafe-url">contact form</a>. If you have concerns about the inclusion of an item in this collection, please contact <a href="mailto:LibraryIT-info@umich.edu">LibraryIT-info@umich.edu</a>.
          </p>
        </div>
      </div>