@import 'bootstrap-variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'bootstrap-overrides';

@import 'blacklight/blacklight';


// #documents .row.document {
//     background: #fff;
//     border: 2px solid #ddd;
//     border-bottom: 4px solid #666;
//     border-right: 2px solid #666;
// }

.activate-highlighting {
    .highlight {
        background-color: $highlight-color;
        font-weight: bold;

        &.de-highlighted {
            background-color: transparent;
            font-weight: normal;
        }
    }    
}

.grid .highlight, a.thumbnail .highlight {
    // background-color: blue;
    background-color: $highlight-color;
    position: absolute;

    // min-width: 15px;
    // min-height: 15px;
    z-index: 5000;
}

.grid .thumbnail, .thumbnail {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
}

// .thumbnail {
//     width: 100%;
//     height: 100%;
// }

.row-thumbnail {
    text-align: right;
    margin-left: 0px;
}

.thumbnail.loading {
    visibility: hidden;
}

#documents h3 {
    margin-top: 0;
}

.caption h3 {
    font-size: inherit;
}

#documents .row {
    margin-bottom: 1em;

    &.document {
        // border: 1px solid #E6E6E6;
        padding: 15px 0px;
        padding-right: 10px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 3px 0 rgba(0, 0, 0, 0.12);
    }
}

span.subtitle {
    font-size: 75%;
    margin-top: 4px;
    display: block;
    color: #5c9bd2
}

.caption span.subtitle {
    font-size: 90%;
}

// SCSS for index page only **************
.blacklight-catalog-index {

    // #documents-list article {
    //     background: #fff;
    //     border: 2px solid #ddd;
    //     border-bottom: 4px solid #666;
    //     border-right: 2px solid #666;
    // }

    #documents h3 {
        // display: inline-block;
        font-family: 'Open Sans';
        font-size: 27px;
        color: #333333;
    }

    #documents .row-thumbnail {
        display: inline-block;
        width: 160px;
        margin-top: 0;
        margin-left: 10px;
        vertical-align: top;
    }

    // Use calc to resize row article text
    #documents .row-article-text {
        display: inline-block;
        width: calc(100% - 230px);
        padding-left: 20px;
        // font-family: Helvetica;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;

        // h3 {
        //     display: inline-block;
        // }
    }

    .activate-highlighting {
        .highlight {
            background-color: $highlight-color;
            font-weight: bold;

            &.de-highlighted {
                background-color: transparent;
                font-weight: normal;
            }
        }    
    }

    .row-thumbnail .highlight, .row-thumbnail a.thumbnail .highlight {
        // background-color: blue;
        background-color: $highlight-color;

        // min-width: 15px;
        // min-height: 15px;
        z-index: 5000;
    }

    .row-thumbnail .grid .thumbnail, .row-thumbnail .thumbnail {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: #ffffff; // override bootstrap
        border: 0 solid white;     // override bootstrap
    }

    // .thumbnail {
    //     width: 100%;
    //     height: 100%;
    // }

    .blacklight-catalog-index .row-thumbnail {
        display: inline-block;
        text-align: right;
    }

    .thumbnail.loading {
        visibility: hidden;
    }

    #documents h3 {
        margin-top: 0;
    }

    .caption h3 {
        font-size: inherit;
    }

    #documents .row {
        margin-bottom: 1em;

        &.document {
            // background: #fff;
            // border: 1px solid #E6E6E6;
            // padding: 20px 0px;
            // padding-right: 10px;
            // box-shadow: 2px 2px 5px 0px rgba(177,177,177,1);
            padding: 0;
            padding-top: 15px;
            padding-right: 10px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 3px 0 rgba(0, 0, 0, 0.12);

        }
    }

    span.subtitle {
        color: #6e6e6e;
        display: block;
        font-family: 'Open Sans';
        font-size: 16px;
        line-height: 1.2;
        margin-top: 3px;
    }

    .caption span.subtitle {
        font-size: 90%;
    }
}

.panel-title button {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
}

.panel-heading.collapse-toggle.collapsed .panel-title:after {
  /* symbol for "collapsed" panels */
  // content: "\e080";
  content: "\e315";
  /* adjust as needed, taken from bootstrap.css */
}

.panel-heading.collapse-toggle .panel-title:after {
    font-family: 'michigan_daily' !important;
    speak: none;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-top;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e313";
}

.panel-heading.collapse-toggle.collapsed .panel-title:after {
  /* symbol for "collapsed" panels */
  // content: "\e080";
  content: "\e315";
  /* adjust as needed, taken from bootstrap.css */
}
