/* CONTACT FORM */

.hidden { display: none; }

#new_contact label, .contact {
  display: block;
  width: 20em;
  text-align: left;
  margin-right: 0px;
  margin-top: 10px;
}

#new_contact  .checkbox label {
  margin-top: 12px;
}

#new_contact  span.spacer {
  display: block;
  height: 40px;
}

#new_contact  textarea {
  height: 100px;
  width: 500px;
}

#new_contact span.error {
  bolder: solid 2px red;
  display: inline-block;
  margin-left: 20px;
  padding: 4px;
}

#new_contact div.field_with_errors span.error {
  font-style: bold italic;
  font-size: 1.2em;
}

#new_contact .btn {
  margin-left: -15px;
}

p.help-block {
  font-style: italic;
  margin-bottom: 0;
}

#new_contact abbr {
  display: none;
}


#new_contact .required-tag {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: relative;
  bottom: 0.2rem;
  background-color: #10788E;
  border-radius: 0.2rem;
  vertical-align: super;
  font-size: 0.7rem; // falafel
  font-size: 90%;
  font-weight: normal;
  line-height: 1em;
  color: #FFF;
  text-shadow: none;
}

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/* STYLES FOR CATALOG PAGE */

// Hide the year facet panel
div.blacklight-date_issued_yyyy_ti {
  display: none;
}


// Catalog page search at top of page, ala home page search
body.blacklight-catalog-index {
  div.document {

    span.document-metadata {
      font-weight: bold;

      span.blacklight-page_text {
        display: block;
        font-weight: normal;
      }
    }  

    div.document-thumbnail {
      height: 150px;
      width: 150px;
      padding: 0;
      float: left !important;
      margin-left: 0 !important;
      margin-right: 20px;
    }
  }

  div.fishrappr_panel {
    border-radius: 4px; 
    border: 1px solid #ccc;
    color: #337ab7;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    vertical-align: middle;
    background-color: #fff;
  }

  div.search {
    background-color: black;
    display: block;
    height: 5em;
    margin: 1em auto 1em auto;
    padding-top: 2em;
    padding: 1em;
    width: 65em;

    form {
      margin-left:auto;
      margin-right:auto;
      padding-top: .5em;

      select#range_start, select#range_end  {
        border: black;
        color: black;
        font-size: 1.5em;
        margin: 0 1em;
        text-align: center;
        vertical-align: middle;
      }

      #dash {
        background-color: white;
        color: white;
        display: inline-block;
        font-size: 1em;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 2.5em;
        height: .3em;
      }

      #q {
        color: black;
        font-size: 1em;
        margin: 0 2em 0 1em;
        vertical-align: middle;
        width: 25em;
      }

      button#search {
        /*
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
        */
        color: black;
        vertical-align: middle;
        font-size: 1.2em;
        width: 6em;
        margin-right: 1.5em;
      }

    } /* form */
  } /* div.search */


  div#sortAndPerPage {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    div.search-widgets {
      display: block;
      // border: 1px solid red;
      float: none;
      width: 280px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      #sort-dropdown {
        margin-right: 20px;
      }
    }

    div.page_links {
      display: block;
      // border: 1px solid red;
      float: none;
      width: 405px;
      margin-right: auto;
      margin-left: auto;

      span.glyphicon-arrow-left, span.glyphicon-arrow-right {
        -khtml-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; 
        border: 1px solid #ccc;
        color: #337ab7;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        margin: 0 10px;
        padding: 15px;
        vertical-align: middle;
        background-color: #fff;
        border-color: #ccc;
     }

      span.page_entries {
         
          -khtml-border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px; 
          border: solid 1px #ccc;
          color: #337ab7;
          display: inline-block;
          font-size: 20px;
          margin: 0 10px;
          padding: 10px;
          vertical-align: middle;
          background-color: #f5f5f5;
          background-color: #fff;
          border-color: #ccc;        
        
      }

    }
  }

}

/* STYLES FOR HOME PAGE */

body.fishrappr {
  background-image: image-url("home_page_banner.png");
  background-repeat: repeat-x;
  background-position: 0 50px;
  background-size: 1440px 500px;
  display: block;
  padding: 0;
}

.home {
  .head, .donors, .featured {
    color: white;
    height: 500px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .head a, .donors a {
    color: white;
    display: block;
    padding: .5em;
    width: 10em;
    margin-top: 2em;
    margin-left:auto;
    margin-right:auto;
  }
}

.home .head {

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    display: inline-block;
    font-size: 1.3em;
    width: 30em;
  }

  a {
    border: solid 2px white;
    color: white;
  }  

   div.search {
    background-color: black;
    display: block;
    height: 5em;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4em;
    padding-top: 2em;
    padding: 1em;
    width: 65em;

    form {
        margin-left:auto;
        margin-right:auto;
        padding-top: .5em;

        select#range_start, select#range_end  {
          border: black;
          color: black;
          font-size: 1.5em;
          margin: 0 1em;
          text-align: center;
          vertical-align: middle;
        }

        #dash {
          background-color: white;
          color: white;
          display: inline-block;
          font-size: 1em;
          vertical-align: middle;
          margin: 0;
          padding: 0;
          width: 2.5em;
          height: .3em;
        }

        #q {
          color: black;
          font-size: 1em;
          margin: 0 2em 0 1em;
          vertical-align: middle;
          width: 25em;
        }

        button#search {
          /*
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px; 
          -khtml-border-radius: 10px;
          */
          color: black;
          vertical-align: middle;
          font-size: 1.2em;
          width: 6em;
          margin-right: 1.5em;
        }

    } /* form */
  } /* div.search */
} /* .home .head */


.home .donors {
  background-color: white;
  color: black;
  height: 200px;

  h3 {
    font-size: 2.5em;
  }

  p {
    display: inline-block;
    font-size: 1.3em;
    width: 60em;
  }

  a {
    border: solid 2px darkgray;
    color: #9d9d9d;
  }  
}

.home .featured {
  background-color: lightgray;
  color: black;
  height: 300px;

  h3 {
    font-size: 2.5em;
    padding-top: 3em;
  }
}

footer { 
  background-color: #00274C;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 50px;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  ul, span.copyright {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  li a, span.copyright {
    color: lightgray;
    display: block;
    padding: .5em;
  }

  li a, li a:visited {
    float: left;
    text-decoration: none;
  }

  li a:hover, li a:active {
    color: white;
    text-decoration: none;
  }

  span.copyright {
    display: block;
    float: right;
  }
}

/* STATIC PAGES */

body.blacklight-static,
body.blacklight-contacts-new,
body.blacklight-contacts-create {
  background-color: lightgray;
}

help-top-row {
  height: 15em;

  h2, p {
    margin-left: 0;
  }
}

.help-middle-col {
  background-color: white;
  padding: 1em 4em 4em 4em;
  margin-top: 1.5em;
}

/* HELP SIDEBAR */

.help-sbar h2 {
  font-size: 2em;  
  padding-left: 1.8em;
}

.help-ul {
  list-style-type:none;
  margin: 1.5em 0 0 2em;
  padding: 0;
  -webkit-padding-start: 0;
}

.help-ul li {
  display: block;
  font-size: 1.5em;
  height: 2em;
  margin: 0 0 .5em 0;
  padding: 0 0 0 .5em;
  vertical-align: middle;
  width: 13em;

  a {
    color: black;
    cursor: hand;
    display: block;
    height: 2em;
    margin: 0 0 .5em 0;
    padding: 0 0 0 .5em;
    text-align: left;
    vertical-align: middle;
    width: 13em;
  }

  a:hover, a:focus {
    background-color: white;
    border: 4px solid white;
    text-decoration: none;
    border-radius: 4px;
  }  
}

/* Suppress some elements we don't want on static pages */

.blacklight-contacts #search-navbar,
.blacklight-contacts .search-query-form,
.blacklight-static #search-navbar,
.blacklight-static .search-query-form {
  display: none;
}



// searching icon animation
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
