/* CONTACT FORM */

.hidden { display: none; }

#new_contact label, .contact {
  display: block;
  margin-right: 0px;
  margin-top: 10px;
  text-align: left;
  width: 20em;
}

#new_contact  .checkbox label {
  margin-top: 12px;
}

#new_contact  span.spacer {
  display: block;
  height: 40px;
}

#new_contact  textarea {
  height: 100px;
  width: 500px;
}

#new_contact span.error {
  bolder: solid 2px red;
  display: inline-block;
  margin-left: 20px;
  padding: 4px;
}

#new_contact div.field_with_errors span.error {
  font-style: bold italic;
  font-size: 1.2em;
}

#new_contact .btn {
  margin-left: -15px;
}

p.help-block {
  font-style: italic;
  margin-bottom: 0;
}

#new_contact abbr {
  display: none;
}


#new_contact .required-tag {
  background-color: #10788E;
  border-radius: 0.2rem;
  bottom: 0.2rem;
  color: #FFF;
  display: inline-block;
  font-size: 0.7rem; // falafel
  font-size: 90%;
  font-weight: normal;
  line-height: 1em;
  padding: 0.2rem 0.4rem;
  position: relative;
  text-shadow: none;
  vertical-align: super;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* STYLES FOR SEARCH PARTIAL ON HOME AND CATALOG PAGE */

body.blacklight-catalog-index, body.fishrappr {

    div.search {
      background-color: black;
      display: block;
      height: 10em;
      margin: 1em auto 1em auto;
      padding-top: 2em;
      padding: 1em;
      width: 65em;

    form {
      margin-left:auto;
      margin-right:auto;
      padding-top: .5em;

      div.date-query-box {

        margin-left: 30px;
        margin-top: 1em;
        text-align: left;

        div.start-year,
        div.start-month,
        div.start-date,
        div.end-year,
        div.end-month,
        div.end-date
         {
          display: inline-block;
          margin: 0;
          padding: 0;
          position: relative;

          select[name^="range_start"],
          select[name^="range_end"],
          input[name^="range_start"],
          input[name^="range_end"] {
            border-radius: 4px; 
            border: 1px solid white;
            color: black;
            font-size: 1.5em;
            margin: 0 .4em;
            text-align: center;
            vertical-align: middle;
            width: 4em;

          }

          span.hint {
            bottom: -25px;
            color: gray;
            left: 10px;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
          }
        }

        #dash {
          background-color: white;
          color: white;
          display: inline-block;
          font-size: 1em;
          height: .2em;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          width: 2em;
        }
      }

      div.q-query-box {
        margin-left: 30px;
        text-align: left;

        #q {
          border-radius: 4px; 
          border: 1px solid white;
          color: black;
          font-size: 1.5em;
          margin: 0 .4em;
          vertical-align: middle;
          width: 25em;
        }
      }

      button#search {
        /*
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
        */
        background-color: gray;
        border-radius: 4px; 
        border: 1px solid gray;
        color: white;
        font-size: 1.5em;
        margin-left: .5em;
        vertical-align: middle;
        width: 6em;
      }

      button.range-toggle {
        /*
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; 
        -khtml-border-radius: 10px;
        */
        background-color: black;
        border-radius: 4px; 
        border: 2px solid white;
        color: white;
        font-size: 1em;
        margin-left: 1.5em;
        vertical-align: middle;

        span.glyphicon {
          color: white;
        }
      }      

    } /* form */
  } /* div.search */
}

// facet styling
body.blacklight-catalog-index {
  form.range_date_issued_yyyymmdd_ti {

    input#range_date_issued_yyyymmdd_ti_begin,
    input#range_date_issued_yyyymmdd_ti_end {
      // display: none;
    }

    input[name="commit"] {
      /*
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; 
      -khtml-border-radius: 10px;
      */
      background-color: gray;
      border-radius: 4px; 
      border: 1px solid gray;
      color: white;
      font-size: 1em;
      margin-top: .5em;
      vertical-align: middle;
    }

    button.range-toggle {
      background-color: white;
      border: 1px solid white;
      color: black;
      font-size: 1em;
      height: 2.5em;
      margin: 0;
      padding: 0;
      vertical-align: middle;

      span.glyphicon {
        color: black;
      }
    }

    button.range-toggle:hover {
      color: blue;
    }

   div.date-query-box {

      margin-left: 0;
      margin-top: 0;
      text-align: left;

      div.start-year,
      div.start-month,
      div.start-date,
      div.end-year,
      div.end-month,
      div.end-date
       {
        display: inline-block;
        margin: .5em 0 0 0;
        padding: 0;
        position: relative;


        select#range_start_month,
        select#range_end_month,
        select#range_start_date,
        select#range_end_date {
          border-radius: 4px; 
          color: black;
          font-size: 1em;
          margin: 0 .2em;
          text-align: center;
          vertical-align: middle;
          width: 4em;

        }

        input#range_start_year,
        input#range_end_year {
          border-radius: 4px; 
          border: 1px solid gray;
          color: black;
          font-size: 1em;
          height: 2em;
          line-height: 1em;
          margin: 0;
          padding: 0;
          text-align: center;
          width: 4em;
        }

        span.hint {
          bottom: 0px;
          color: gray;
          margin: 0;
          padding: 0;
          position: absolute;
          right: -35px;
        }
      }

      #dash {
        display: none;
      }
    }
  }
} // end facet style

// hide search from search-bar of show page
body.blacklight-catalog-show div.search {
  display: none;
}


/* STYLES FOR CATALOG PAGE */

// Catalog page search at top of page, ala home page search
body.blacklight-catalog-index {
  div.document {

    span.document-metadata {
      font-weight: bold;

      span.blacklight-page_text {
        display: block;
        font-weight: normal;
      }
    }  

    div.document-thumbnail {
      float: left !important;
      height: 150px;
      margin-left: 0 !important;
      margin-right: 20px;
      padding: 0;
      width: 150px;
    }
  }

  div.fishrappr_panel {
    background-color: #fff;
    border-radius: 4px; 
    border: 1px solid #ccc;
    color: #337ab7;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    vertical-align: middle;
  }

  div#sortAndPerPage {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;

    div.search-widgets {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 280px;
      #sort-dropdown {
        margin-right: 20px;
      }
    }

    div.page_links {
      // border: 1px solid red;
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 450px;

      span.glyphicon-arrow-left, span.glyphicon-arrow-right {
        -khtml-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #fff;
        border-color: #ccc;
        border-radius: 4px; 
        border: 1px solid #ccc;
        color: #337ab7;
        display: inline-block;
        font-size: 20px;
        margin: 10px 10px 10px 0;
        padding: 15px;
        vertical-align: middle;
     }

      span.page_entries {
          -khtml-border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          background-color: #f5f5f5;
          background-color: #fff;
          border-color: #ccc;        
          border-radius: 4px; 
          border: solid 1px #ccc;
          color: #337ab7;
          display: inline-block;
          font-size: 20px;
          margin: 0 10px;
          padding: 10px;
          vertical-align: middle;
      }
    }
  }
}

/* STYLES FOR HOME PAGE */

body.fishrappr {
  background-image: image-url("home_page_banner.png");
  background-position: 0 50px;
  background-repeat: repeat-x;
  background-size: 1440px 500px;
  display: block;
  padding: 0;
}

.home {
  .head, .donors, .featured {
    color: white;
    height: 500px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .head a, .donors a {
    color: white;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2em;
    padding: .5em;
    width: 10em;
  }
}

.home .head {

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    display: block;
    font-size: 1.3em;
    margin-left:auto;
    margin-right:auto;
    width: 30em;
  }

  p.para2 {
    margin-top: 0;
  }

  a {
    border: solid 2px white;
    color: white;
  }  

} /* .home .head */


.home .donors {
  background-color: white;
  color: black;
  height: 200px;

  h3 {
    font-size: 2.5em;
  }

  p {
    display: inline-block;
    font-size: 1.3em;
    width: 60em;
  }

  a {
    border: solid 2px darkgray;
    color: #9d9d9d;
  }  
}

.home .featured {
  background-color: lightgray;
  color: black;
  height: 300px;

  h3 {
    font-size: 2.5em;
    padding-top: 3em;
  }
}

footer { 
  background-color: #00274C;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 50px;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  ul, span.copyright {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  li a, span.copyright {
    color: lightgray;
    display: block;
    padding: .5em;
  }

  li a, li a:visited {
    float: left;
    text-decoration: none;
  }

  li a:hover, li a:active {
    color: white;
    text-decoration: none;
  }

  span.copyright {
    display: block;
    float: right;
  }
}

/* STATIC PAGES */

body.blacklight-static,
body.blacklight-contacts-new,
body.blacklight-contacts-create {
  background-color: lightgray;
}

help-top-row {
  height: 15em;

  h2, p {
    margin-left: 0;
  }
}

.help-middle-col {
  background-color: white;
  margin-top: 1.5em;
  padding: 1em 4em 4em 4em;
}

/* HELP SIDEBAR */

.help-sbar h2 {
  font-size: 2em;  
  padding-left: 1.8em;
}

.help-ul {
  -webkit-padding-start: 0;
  list-style-type:none;
  margin: 1.5em 0 0 2em;
  padding: 0;
}

.help-ul li {
  display: block;
  font-size: 1.5em;
  height: 2em;
  margin: 0 0 .5em 0;
  padding: 0 0 0 .5em;
  vertical-align: middle;
  width: 13em;

  a {
    color: black;
    cursor: hand;
    display: block;
    height: 2em;
    margin: 0 0 .5em 0;
    padding: 0 0 0 .5em;
    text-align: left;
    vertical-align: middle;
    width: 13em;
  }

  a:hover, a:focus {
    background-color: white;
    border-radius: 4px;
    border: 4px solid white;
    text-decoration: none;
  }  
}

/* Suppress some elements we don't want on static pages */

.blacklight-contacts #search-navbar,
.blacklight-contacts .search-query-form,
.blacklight-static #search-navbar,
.blacklight-static .search-query-form {
  display: none;
}



// searching icon animation
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

div.top-panel-heading {
  margin-left: -15px;
}
