// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#sidebar {
  background-color: #f2f2f2
}

.help-ul {
  list-style-type:none;
  margin: 0 0 40;
  padding: 0;
}

.help-ul li {
  display: block;
  height: 2em;
  margin: 20px;
  width: 10em;
  text-align: center;
  vertical-align: middle;
}

.help-ul li a {
  /* border: 2px solid lightgray;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  */
  cursor: pointer;
  color: black;
  display: block;
  font-size: 1.2em;
  height: 2em;
  margin: 10px;
  width: 10em;
}

.help-ul li a:hover, .help-ul li a:focus {
  background-color: white;
}

.blacklight-static #search-navbar, .blacklight-static .search-query-form {
  display: none;
}