// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* CONTACT FORM */

/*
.contact {
   label {
    display: block;
    width: 20em;
    text-align: left;
    margin-right: 0px;
    margin-top: 20px;
  }

  .checkbox label {
    margin-top: 12px;
  }

  span.required {
    color: gray;
  }

  span.spacer {
    display: block;
    height: 40px;
  }

  textarea {
    height: 100px;
    width: 500px;
  }
}
*/

/* HELP SIDEBAR */

.help-ul {
  list-style-type:none;
  margin: 0 0 40;
  padding: 0;
}

.help-ul li {
  display: block;
  height: 2em;
  margin: 20px;
  width: 10em;
  text-align: center;
  vertical-align: middle;

  a {
    /* border: 2px solid lightgray;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    */
    cursor: pointer;
    color: black;
    display: block;
    font-size: 1.2em;
    height: 2em;
    margin: 10px;
    width: 10em;
  }

  a:hover, a:focus {
    background-color: white;
  }  
}

/* Suppress some elements we don't want on static pages */

.blacklight-static #search-navbar, .blacklight-static .search-query-form {
  display: none;
}