html, body {
  height: 100%;
}

#map {
    height: 90%;

    &:focus {
        outline: auto 5px -webkit-focus-ring-color;
    }
}

article {
    font-size: 1.2em;
    line-height: 1.7em;
    max-width: 35em;
}

.list-group .btn-group {
    width: 100%;

    .btn-link.list-group-item:hover {
        border-color: #ddd;
    }
}

.action-group {
    width: 100%;
    margin-bottom: 20px;

    .btn {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}