<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li class="publication-link">
        <p class="navbar-text"><%= @publication.title %></p>
    </li>
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
  </ul>

<!-- Removed login/logout/registration links  -->

</div>